/* Mobile Styles */
@media (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    gap: 20px;
    background-color: #004080;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 20px;
  }

  nav.active {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  .close-icon {
    display: none;
  }

  nav.active + .close-icon {
    display: block;
  }

  .cta-button {
    margin-top: 10px;
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  nav {
    flex-direction: column;
    gap: 15px;
  }
  .timeline {
    margin-left: 20px;
    margin-right: 20px;
  }
  
}
 @media(max-width: 600px){
    .hero-head {
      font-size: 2.3rem !important;
    }
    .calculator {
      flex-direction: column;
      gap: 0;
    }
    .download-section h2 {
      margin-top: 0;
    }
    .dow-sec {
      margin-top: -19px !important;
    }
    .step {
      width: 40px !important;
      height: 40px !important;
    }
    .step i {
      font-size: 1.26rem !important;
    }
 }

h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
}
